@import "reset";
@import "themes/dark";
@import "themes/light";
@import "variables/global";

.ThemeProvider {
  font: var(--font-m);
  color: rgb(var(--primary-color));
}

.app {
  min-height: 100vh;
  background: var(--bg-app);
}
