.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: var(--modal-z-index);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  color: rgb(var(--primary-color));
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 2em;
  background-color: rgb(var(--bg-primary-color));
  border-radius: 6px;
  transition: 0.25s;
  transform: scale(0.5);
}

.opened {
  animation: started-animations 0.25s;
  opacity: 1;
  pointer-events: all;
  overflow: auto;

  .content {
    animation: started-scale 0.25s;
    transform: scale(1);
  }
}

@keyframes started-animations {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes started-scale {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
