.Avatar {
  width: 64px;
  height: 64px;
  border: 2px solid rgb(var(--bg-primary-color));
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(var(--bg-primary-color));
}

.sizeM {
  width: 64px;
  height: 64px;
}
