.Skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 8px;
  min-height: var(--font-size-m);
  width: 1rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsla(201deg, 20%, 80%, 30%);
  }

  100% {
    background-color: hsla(200deg, 20%, 95%, 30%);
  }
}
