.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.sizeS {
  font: var(--font-s);
}

.sizeM {
  font: var(--font-m);
}

.sizeL {
  font: var(--font-l);
}

.sizeXL {
  font: var(--font-xl);
}

.error {
  color: red;
}

.oneLine {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bold {
  font-weight: 600;
}
