.app.dark {
  --bg-color: linear-gradient(270deg, #150f3e, #261023 50%, #061b37);
  --bg-revesed-color: #ffffff;
  --bg-secondary-color: #121214;

  --primary-color: #ffffff;
  --revesed-color: #000;
  --secondary-color: #a6a8ad;
}
