.light_theme {
  --bg-app: linear-gradient(270deg, #adc0cd, #a3a3a37d 50%, #adc0cd);
  --bg-navbar: #b6b6b6;
  --bg-primary-color: 224, 224, 224;
  --bg-secondary-color: 67, 160, 71;

  --primary-color: 0, 0, 0;
  --revesed-color: 255, 255, 255;
  --secondary-color: 115, 115, 115;
}
