body {
  .light {
    --bg-color: linear-gradient(270deg, #b6b6b6, #fcdaf7 50%, #b6b6b6);
    --bg-revesed-color: #fff;
    --bg-secondary-color: #fcdaf7;

    --primary-color: rgb(0 0 0);
    --revesed-color: #000;
    --secondary-color: rgb(71 71 71);
  }
}
