.ProfileCard {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.header {
  background-color: rgba(var(--bg-secondary-color), 0.4);
  display: flex;
  align-items: center;
  border-radius: inherit;
  justify-content: space-between;
  padding: 8px;
}

.avatar {
  display: block;
}
