.navbar {
  background-color: var(--bg-navbar);
  height: var(--navbar-height);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -30px 30px 30px var(--bg-navbar);
}

.appLinks {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 1em;
}

.logo {
  height: 100%;
}
