.navbar {
  background-color: rgb(var(--bg-navbar));
  height: var(--navbar-height);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 8px 0 rgba(var(--bg-navbar), 0.2);
}

.appLinks {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 1em;
}

.logo {
  height: 100%;
}

.authUsername {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}
