.AppLink {
  position: relative;
  transition: background-color 0.25s;
}

.primary {
  color: rgb(var(--primary-color));
  background-color: rgb(var(--bg-secondary-color));
  border-radius: 100px;
  padding: 0.25rem 1.25rem;

  &:hover {
    background-color: rgba(var(--bg-secondary-color), 0.85);
  }
}

.default {
  color: inherit;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}

.secondary {
  color: rgb(var(--secondary-color));
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: rgb(var(--primary-color));

  &::after {
    content: "";
    position: absolute;
    width: 80%;
    left: 10%;
    height: 4px;
    border-radius: 1em;
    margin: 1.5em 0 0;
    background: rgb(var(--bg-secondary-color));
  }
}
