.AppLink {
  transition: color 0.25s;
  position: relative;
}

.primary {
  color: var(--revesed-color);
  background-color: var(--bg-secondary-color);
  border-radius: 100px;
  padding: 0.25rem 1.25rem;
}

.secondary {
  color: var(--secondary-color);
}

.active {
  color: var(--primary-color);

  &::after {
    content: "";
    position: absolute;
    width: 80%;
    left: 10%;
    height: 4px;
    border-radius: 1em;
    margin: 1.5em 0 0;
    background: var(--bg-secondary-color);
  }
}
