.container {
  height: 70vh;
  width: 70vw;
  min-width: 300px;
}

.container-cropper {
  height: 95%;
}

.cropper {
  height: 90%;
  position: relative;
}

.slider {
  height: 10%;
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
}

.container-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}
